body {
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

footer {
  font-family: monospace;
  text-align: center;
  width: 100%;
  background: #ffffff;
  padding: 0px 10px 5px 0px;
}

h1 {
  font-family: Amatic SC, cursive;
  text-align: center;
  margin: 80px 0 40px 0;
  font-weight: 200px;
  font-size: 60px;
}

h1,
h2,
.card-title,
.day,
.default {
  font-family: Amatic SC, cursive;
}

h2 {
  margin: 30px 0;
  font-size: 40px;
  text-align: center;
}

div.card-deck {
  margin-bottom: 30px;
}

div.col-md-6,
div.col-6.current-temperature {
  margin: 0px;
  padding: 0px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

div.col-sm-4.day {
  height: 100px;
  line-height: 100px;
  text-align: center;
}

img {
  text-align: center;
}

img.header-image {
  display: block;
  margin: 0 auto;
}

label,
.btn {
  font-family: "Roboto", cursive;
  font-size: 25px;
  font-weight: 800;
  text-align: center;
}

.active {
  cursor: default;
  color: black;
}

.active:hover {
  text-decoration: none;
  color: black;
}

.btn {
  font-size: 15px;
}

.card {
  margin: 30px 10px;
  background-color: #fff;
  display: inline-block;
}

.card-title {
  text-align: center;
  font-size: 40px;
  padding: 25px;
}

.current-temperature {
  font-size: 80px;
  margin-left: 0;
  font-weight: 500;
  text-align: center;
}

.day {
  font-size: 40px;
}

.default {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 40px;
}

.icon {
  width: 150px;
  height: auto;
  display: block;
  text-align: center;
}
.main {
  width: 200px;
  height: auto;
  padding-left: 40px;
}

.search {
  width: 100%;
}

.temp {
  font-family: monospace;
  font-size: 25px;
  font-weight: lighter;
  height: 100px;
  line-height: 100px;
  text-align: center;
}

.temp-measure {
  position: relative;
  font-size: 18px;
  top: -45px;
  left: -20px;
}

.temp-measure:hover {
  cursor: pointer;
}
